# MNEMONIC and PRIVATE_KEY are used by different deploy scripts
MNEMONIC="test test test test test test test test test test test junk"
PRIVATE_KEY=""

# Localhost RPC URL
LOCALHOST_RPC_URL=http://127.0.0.1:8545

# Mainnet RPC URLs
MAINNET_RPC_URL=

# Testnet RPC URLs
SEPOLIA_RPC_URL=
ARBITRUM_SEPOLIA_RPC_URL=

# Used for verifying contracts on Etherscan
ETHERSCAN_API_KEY=

# Parameters for deploying the TimelockController
TIMELOCK_MIN_DELAY= #default is 259200 (3 days)
TIMELOCK_PROPOSERS= #should be comma separated "0x0...,0x0..."
TIMELOCK_EXECUTORS= #should be comma separated "0x0...,0x0..."
TIMELOCK_ADMIN=
