[submodule "lib/ttg"]
	path = lib/ttg
	url = git@github.com:MZero-Labs/ttg.git
[submodule "lib/protocol"]
	path = lib/protocol
	url = git@github.com:MZero-Labs/protocol.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = git@github.com:foundry-rs/forge-std.git
	branch = v1
[submodule "lib/wrapped-m-token"]
	path = lib/wrapped-m-token
	url = git@github.com:m0-foundation/wrapped-m-token.git
	branch = fix/start-stop-earning-fix
